{% extends 'base.html.twig' %}

{% block title %}
Apzvalgu sarasas
{% endblock %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Apzvalgu sarasas</h1>
  </section>
{% endblock %}