{% extends 'base.html.twig' %}

{% block title %}
Pagrindis puslapis
{% endblock %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Ka tu?</h1>
      <p class="lead text-muted">TEKSTAS TEKSTAS TEKSTAS TEKSTAS TEKSTAS TEKSTAS TEKSTAS TEKSTAS TEKSTAS TEKSTAS </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Mygtukas</a>
        <a href="#" class="btn btn-secondary my-2">Antras mygtukas</a>
      </p>
    </div>
  </section>
{% endblock %}